<html>
  <style>
    body{
      font-size: 15pt;
      font-family:arial;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/jquery.js"></script>
    <script src="../static/action.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- personal css -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Movie Database</title>
  </head>


  <body>
      <strong>Character Search</strong>
      <select id="char_name">
        <option>All</option>
        {% for charac in cinfo %}
          {% if charac[0] == chosen_char %}
          <option selected>{{ charac[0] }}</option>
          {% else %}
          <option>{{charac[0]}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button id="submit-char" type="button" class="btn btn-primary">Submit</button> 
     
     {% for result in results %}
             {% set info = result["info"] %}
             <p>Character Name: {{info[0]}}</p>
             {% set pinfo = result["person_info"] %}
	     <p>Actor/Actress: {{pinfo[0]}}
             {% set minfo = result["movie_info"] %}
	     <p>Movie: {{minfo[0]}}</p>
     {% endfor %}
      <a href = "/">Go back to home page</a>
  </body>
</html>
