<html>
  <style>
    body{
      font-size: 15pt;
      font-family:arial;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/jquery.js"></script>
    <script src="../static/action.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- personal css -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Movie Database</title>
  </head>

  <body>
      <strong>Movie Search</strong>
      <select id="title">
        <option>All</option>
        {% for stuff in data2 %}
          {% if stuff[1] == chosen_title %}
          <option selected>{{ stuff[1] }}</option>
          {% else %}
          <option>{{stuff[1]}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button id="submit" type="button" class="btn btn-primary">Submit</button>      

      

      {% for result in results %}
             {% set info = result["info"] %}
         <h2>{{info[0]}}</h2>
         <p></p>
         <h4>Basic Information</h4>
         <p><strong>Length</strong>: {{info[1]}} minutes</p>
         <p><strong>Language</strong>: {{info[2]}}</p>
         <p><strong>Release Date</strong>: {{info[3]}}</p>
         <p><strong>Production Company</strong>: {{info[4]}}</p>
         <p><strong>Genre</strong>: {{info[5]}}</p>
              {% set director = result["director"] %}
         {% for d in director %}
             <p><strong>Director</strong>: {{d[0]}}</p>
         {% endfor %}
              {% set writer = result["writer"] %}
         {% for w in writer %}
             <p><strong>Writer</strong>: {{w[0]}}</p>
         {% endfor %}
         <p></p>
         <p></p>
         <h4>Cast</h4>
              {% set people = result["actors"] %}
         {% for p in people %}
             <p><strong>Actor/Actress</strong>: {{p[0]}}       <strong>Character</strong>: {{p[1]}}</p>
         {% endfor %}
         <p></p>
         <p></p>
         <h4>Awards</h4>
              {% set awardp = result["awardp"] %}
         {% for ap in awardp %}
             <p>{{ap[0]}} {{ap[1]}} {{ap[2]}} - {{ap[3]}}     {{ap[4]}}</p>
         {% endfor %}
              {% set awardm = result["awardm"] %}
         {% for am in awardm %}
             <p>{{am[0]}} {{am[1]}} {{am[2]}}        {{am[3]}}</p>
         {% endfor %}
               {% set review = result["reviews"] %}
         <p></p>
         <p></p>
         <h4>Reviews</h4>
         {% for rev in review %}
             <p>Username: {{rev[0]}}</p>
             <p>Review Date: {{rev[2]}}</p>
             <p>Comment: {{rev[1]}}</p>
         {% endfor %}
         <p></p>
         <p></p>
                {% set rating = result["ratings"] %}
         {% for rat in rating %}
             <p>Username: {{rat[0]}}</p>
             <p>Rating Date: {{rat[2]}}</p>
             <p>Rating: {{rat[1]}}</p>
         {% endfor %}
      {% endfor %}

      <a href = "/">Go back to home page</a>
  </body>
</html>
