<html>
  <style>
    body{
      font-size: 15pt;
      font-family:arial;
    }
  </style>


  <body>
      <strong>Search People</strong>
      <select id="title">
        <option>All</option>
        {% for stuff in data %}
          {% if stuff == chosen_title %}
          <option selected>{{ stuff}}</option>
          {% else %}
          <option>{{stuff}}</option>
          {% endif %}
        {% endfor %}
      </select>

<!--  <div>{{data}}</div>   -->

      <table border = 1>
         <thead>
            <td>Name</td>
            <td>Birthdate</td>
            <td>Hometown</td>
            <td>Education</td>
         </thead>

         {% for row in data2 %}
            <tr>
               <td>{{row["name"]}}</td>
               <td>{{row['birthdate']}}</td>
               <td> {{row["hometown"]}}</td>
               <td>{{row["education"]}}</td>
            </tr>
         {% endfor %}
      </table>

      <a href = "/">Go back to home page</a>

  </body>
</html>
