<html>
  <style>
    body{
      font-size: 15pt;
      font-family:arial;
    }
  </style>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="../static/jquery.js"></script>
    <script src="../static/action.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>
    <!-- personal css -->
    <link rel="stylesheet" href="../static/style.css">
    <title>Movie Database</title>
  </head>


  <body>
      <strong>User Search</strong>
      <select id="username">
        <option>All</option>
        {% for stuff in data2 %}
          {% if stuff[0] == chosen_username %}
          <option selected>{{ stuff[0]}}</option>
          {% else %}
          <option>{{stuff[0]}}</option>
          {% endif %}
        {% endfor %}
      </select>
      <button id="submit-username" type="button" class="btn btn-primary">Submit</button>

      {% for result in results %}
             {% set info = result["info"] %}
         <h2>{{info[0]}}</h2>
         <p></p>
         <h4>Basic Information</h4>
         <p><strong>Location</strong>: {{info[1]}}</p>
         <p><strong>Gender</strong>: {{info[2]}}</p>
         <p><strong>Age</strong>: {{info[3]}}</p>
         <p></p>
             {% set review = result["review"] %}
        <h4>Review</h4> 
        {% for rev in review %}
             <p><strong>Movie: </strong> {{rev[0]}}</p>
             <p><strong>Review: </strong> {{rev[1]}}</p>      
             <p><strong>Date posted: </strong> {{rev[2]}}</p>
         {% endfor %}
         <p></p>
             {% set rating = result["rating"] %}
         <h4>Rating</h4>
         {% for rat in rating %}
             <p><strong>Movie: </strong> {{rat[0]}}</p>
             <p><strong>Rating: </strong> {{rat[1]}}</p>      
             <p><strong>Date posted: </strong> {{rat[2]}}</p>
         {% endfor %}
      {% endfor %}

      <a href = "/">Go back to home page</a>
  </body>
</html>
